<%= form_for ([@post, @post.comments.build]), :html => {:role => 'form'}   do |f| %>
<div class="form-group">


	<%= f.label :name, :html => {:class => 'form-control'} %>
</br>
<%= f.text_field :name, :html => {:class => 'form-control' , :rows => '3'}  %>

</br>
</br>
<%= f.label :body, :html => {:class => 'form-control'} %>
</br>
<%= f.text_area :body, :html => {:class => 'form-control' , :rows => '3'} %>
</br>

<%= f.submit class: "btn btn-primary"%>  
</div>
<%end%>