<% if user_signed_in? %>

<!-- Page Content -->
<div class="container">

	<div class="row">

	


		<!-- Blog Post Content Column -->
		<div class="col-lg-8">

			<!-- POST TITLE GOES HERE -->
			<h1>
				<%=  @post.title %>
			</h1>
			<hr>
			<p><span class="glyphicon glyphicon-time"> Submitted <%= time_ago_in_words(@post.created_at) %> </span> </p>
			<hr>
			<!-- POST BODY GOES HERE -->
			<p class="lead">
				<%= @post.body %>
			</p>
			<hr>

			<%= link_to 'Edit' , edit_post_path(@post) %>
			<%= link_to 'Delete' , @post , method: :delete %>
		</p>


		<!--NUMBER OF COMMENTS -->
		<h2><%= @post.comments.count %> comments</h2>



		<!-- FORM FOR COMMNETS -->
		<div class="well">
			<h4>Leave a Comment:</h4>
			<%= render  partial: 'comments/form' %>
		</div>
		<hr>


		<!-- PREVIOUS COMMENTS -->
		<%= render @post.comments %>

		<% end %>
	</div>

	<!-- Blog Sidebar Widgets Column -->

	
        <!-- /.row -->
